.container {
    width: 2100px;
    margin: 0 auto;
}

.wrap {
    overflow: hidden;

    background: rgb(64,41,15);
    background: radial-gradient(ellipse at right, rgba(64,41,15,1) 0%, rgba(0,0,0,1) 60%);
}
body {
    position: relative;
    // background: rgba(0, 0, 0, 2);
    
}
