@media (max-width: 1200px) {
    .text {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 420px;
        &__title {
            width: 200px;
            font-size: 25px;
            padding-bottom: 10px;
        }
        &__subtitle {
            font-size: 12px;
        }
    }
    .text2 {
        padding-top: 90px;

        width: 460px;
        right: -50%;

        &__title {
            width: 450px;
            font-size: 25px;
        }
        &__subtitle {
            font-size: 12px;
        }
    }
}
@media (max-width: 1500px) {

    .text {
        &__title {
            font-size: 28px;
            letter-spacing: 12px;

        }
        &__subtitle {
            font-size: 13px;
        }
    }
    .text2 {
        &__title {
            font-size: 28px;
            letter-spacing: 12px;
        }
        &__subtitle {
            font-size: 13px;
            padding-bottom: 20px;
        }
    }
   
}

@media (max-width: 1050px) {
    .wrap {
        .slider {
            .swiper {
                &__img {
                    img {
                        width: 70%;
                    }
                }
            }
            .wrapper {
                &__item {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 960px) {
    .text {
        // text-align: center;

        right: -50%;
        transform: translate(-50%);

        &__title {
            text-align: center;
            width: 100%;

        }
        &__subtitle {
            text-align: center;
        }
    }
    .text2 {
        right: -50%;
        transform: translate(-50%);

        &__title {
            text-align: center;
            width: 100%;
        }
        &__subtitle {
            text-align: center;

        }
    }
    .skins {

        padding-bottom: 30px;
      
    }
    
}
@media (max-width: 576px) {
    .slider {
        &__text {
            font-size: 12px;
        }
    }
    .text {
        width: 295px;
        &__title {
            font-size: 25px;
            letter-spacing: 8px;

        }
        &__subtitle {
            font-size: 12px;
        }
    }
    .text2 {
        width: 295px;


        &__title {
            font-size: 20px;
            letter-spacing: 8px;
        }
        &__subtitle {
            font-size: 12px;
            padding-bottom: 20px;


        }
    }
   
}

